.bg-content {
  background: var(--background);
  min-height: 100%;
}
.content {
  max-width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 4rem;
}
.content-button {
  display: flex;
  align-items: center;
  gap: 1.063rem;
  padding: 0.688rem 0.813rem;
  border-radius: 0.313rem;
  border: none;
  margin-top: 4rem;
  background: var(--bg-button);
  cursor: pointer;
  margin-bottom: 1.625rem;
}
.content-detail {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}
.content-button:hover {
  background-color: #d0d0d0;
}
